pre {
  position: relative;

  code {
    overflow-x: auto;
  }

  i {
    @apply bg-neutral-800 border border-gray-400;
    color: grey;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    border-radius: 10px;

  }
    .copied {
      color: green !important;
      border: 1px solid green;
    }
}

.line {
  @apply mb-5 mt-2 border border-gray-500
}

a.tag {
  @apply rounded-full text-white p-1 text-sm mr-1;

  background-color: #1772ba;
}
