pre {
  position: relative;

  code {
    overflow-x: auto;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.line {
  @apply mb-5 mt-2 border border-gray-500
}

a.tag {
  @apply rounded-full text-white p-1 text-sm mr-1;

  background-color: #1772ba;
}
